{% extends "layout.html" %}
{% block body %}
<h1>Welcome to UCSP</h1>
{% endblock %}





<!-- 
<html>
    <title>user page</title>
    <head>
        <h1>WELCOME TO UCSP</h1>
    </head>
    <body>
    <p>Sign Up now if you dont have an account!</p>
    <a type="button" class="btn btn-link" href="{{url_for('register')}}"><button>Sign Up</button></a>
    <p>Already have an account the click here</p>
    <a type="button" class="btn btn-link" href="{{url_for('login')}}"><button>Log in</button></a>
    </body>
    </html> -->