{% extends "layout.html" %}
{% block body %}
   <h3>Your Score:{{ score }}</h3>
   {% if not done %}
   <form action="/process/{{ current_question.id }}" method="POST">
   <p>
      <b>{{ current_question.id }}:{{ current_question.q }}</b>
   </p>
   <ul style="list-style: none;">
      {% for option in opt %}
      <li style="display: inline-block;"><input type="radio" name="ans" value="{{ option }}" /></li>
      {{ option }} {% endfor %}
    </ul>

      <input type="submit" value="Next" class="btn btn-primary " >
   
   </form>
   {% else %}
      <h3>Thank You for Playing</h3>
      {% endif %}
   {% endblock %}