{% extends "layout.html" %}
{% block body %}
	<div class="continer">          
           <form action="" method="POST">

			<div class="app-title"> 
				<h1>Register Now!</h1>
			</div>            			
				<div class="form-group">
                    <input type="text" class="form-control" value="" placeholder="Name" name="name" required>
                </div>   
               <div class="form-group">
				<input type="email" class="form-control" value="" placeholder="Email" name="email" required>                   
                </div>                         
                <div class="form-group">
                    <input type="text" class="form-control" value="" placeholder="Phone" name="phone" required>                   				
                </div>                           
				<div class="form-group">
                  <input type="password" class="form-control" value="" placeholder="Password" name="password" required>
                </div> 
                <div class="form-group">
                    <input type="password" class="form-control" value="" placeholder="Confirm Password" name="confirmpassword" required>
                  </div> 
                  <p>
                    <h1>{{error}}</h1>
                </p>
             <input type="submit" value="Sign up" class="btn btn-primary " >                         
            </form>           
    </div>

{% endblock %}